{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig' %}


{% block body %}
<div class="formulaireL">

	<h1 class="form_title">Inscrivez-vous</h1>
	{{ form_start(form)}}
	{{ form_errors(form)}}

	{{ form_row(form.email)}}

	{{ form_row(form.password)}}

	{{ form_row(form.create, {'label' : 'Inscription'})}}

	{{ form_end(form)}}
</div>

{% endblock %}