{# src/templates/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
  <h1 class="form_title blog">SmallLibraryBlog</h1>
  
  <div class="articles">
  {% for article in articles %}
  <div class="w3-card-4 w3-margin w3-white">

    <div class="w3-container">

      <h3><b>{{ article.title }}</b>
      {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
      <a href="/remove/{{article.slug}}" class="delete">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </a>
      {% endif %}
      </h3>
      <h5>Published <span class="w3-opacity">{{ article.published }}</span></h5>
    </div>

    <div class="w3-container">
      <p>{{ article.content | u.truncate(800, '...')}}</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p>
            <a href="/post/{{article.slug}}" class="w3-button w3-white w3-border removehover">
              <b class="puttomiddle">READ MORE
                
              </b>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-caret-right puttomiddle" viewBox="0 0 16 16">
                  <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753l5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
                </svg>
            </a>

          </p>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p></p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>

{% endblock %}
